{% load static %}
{% load template_functions %}
<header>
    <div id="nav-container">
        <div id="nav-overlay"></div>
        <nav id="nav-fullscreen">
            <ul>
                <li><a class="cool-hover" href="{% url 'index' %}">Home</a></li>
                <li><a class="cool-hover" href="{% url 'regulations' %}">Reglamento</a></li>
                {% if user.is_authenticated %}
                {% if request.user|has_group:"admin" %}
                <!-- If the user is authenticated, and is an admin: Shows the admin CRUD page-->
                <li><a class="cool-hover" href="{% url 'admin' %}">Admin</a></li>
                {% endif %}
                {% else %}
                <li><a class="cool-hover" href="{% url 'login' %}">Login</a></li>
                {% endif %}
            </ul>
        </nav>
        <a id="nav-toggle">
            <span></span>
            <span></span>
            <span></span>
        </a>
    </div>
</header>