{% extends 'layout/base.html' %}
{% load static %}

{% block title %}
Index
{% endblock %}

{% block extra_css %}

{% endblock %}

{% block content %}
<h1>Bienvenido a Ciber Tec</h1>
<p>This is the homepage</p>
<div class="wrapper">
    <div class="cards">

        <div class=" card [ is-collapsed ] ">
            <div class="card__inner [ js-expander ]">
                <span>Futbolito 1</span>
                <img src="{% static 'assets/games-cards/futbolito.jpg' %}" alt="Futbolito 1">
                <div class="remaining__time">
                    <span>24:13</span><span> min/seg</span>
                </div>
                <div class="collapsed__students">
                    <ul>
                        <li>A01656583 x</li>
                        <li>A01656581 x</li>
                        <li>A01656585 x</li>
                    </ul>
                </div>
            </div>
            <div class="card__expander">
                <i class="fa fa-close [ js-collapser ]"></i>
                <div class="remaining__time">
                    <span>24:13</span><span> min/seg</span>
                </div>
                <div class="collapsed__students">
                    <ul>
                        <li>A01656583 x</li>
                        <li>A01656581 x</li>
                        <li>A01656585 x</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class=" card [ is-collapsed ] ">
            <div class="card__inner [ js-expander ]">
                <span>Card</span>
                <i class="fa fa-folder-o"></i>
            </div>
            <div class="card__expander">
                <i class="fa fa-close [ js-collapser ]"></i>
                Expander
            </div>
        </div>

        <div class=" card [ is-collapsed ] ">
            <div class="card__inner [ js-expander ]">
                <span>Card</span>
                <i class="fa fa-folder-o"></i>
            </div>
            <div class="card__expander">
                <i class="fa fa-close [ js-collapser ]"></i>
                Expander
            </div>
        </div>

        <div class=" card [ is-collapsed ] ">
            <div class="card__inner [ js-expander ]">
                <span>Card</span>
                <i class="fa fa-folder-o"></i>
            </div>
            <div class="card__expander">
                <i class="fa fa-close [ js-collapser ]"></i>
                Expander
            </div>
        </div>

        <div class=" card [ is-collapsed ] ">
            <div class="card__inner [ js-expander ]">
                <span>Card</span>
                <i class="fa fa-folder-o"></i>
            </div>
            <div class="card__expander">
                <i class="fa fa-close [ js-collapser ]"></i>
                Expander
            </div>
        </div>

        <div class=" card [ is-collapsed ] ">
            <div class="card__inner [ js-expander ]">
                <span>Card</span>
                <i class="fa fa-folder-o"></i>
            </div>
            <div class="card__expander">
                <i class="fa fa-close [ js-collapser ]"></i>
                Expander
            </div>
        </div>

        <div class=" card [ is-collapsed ] ">
            <div class="card__inner [ js-expander ]">
                <span>Card</span>
                <i class="fa fa-folder-o"></i>
            </div>
            <div class="card__expander">
                <i class="fa fa-close [ js-collapser ]"></i>
                Expander
            </div>
        </div>

        <div class=" card [ is-collapsed ] ">
            <div class="card__inner [ js-expander ]">
                <span>Card</span>
                <i class="fa fa-folder-o"></i>
            </div>
            <div class="card__expander">
                <i class="fa fa-close [ js-collapser ]"></i>
                Expander
            </div>
        </div>

        <div class=" card [ is-collapsed ] ">
            <div class="card__inner [ js-expander ]">
                <span>Card</span>
                <i class="fa fa-folder-o"></i>
            </div>
            <div class="card__expander">
                <i class="fa fa-close [ js-collapser ]"></i>
                Expander
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script src="{% static 'js/cards.js' %}"></script>
{% endblock %}