<%- include ("layouts/header") %>
    <div class="container">

      <h1>Bienvenido</h1>
      <p>Bienvenido al servicio de <%= title %></p>

    </div>
    
    <div class="container">
      <h1>Rentar</h1>
      <div class="row">
        <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
              <img src="https://res.cloudinary.com/walmart-labs/image/upload/v1601504464/mg/images/categorias/d-videojuegos/f-videojuegos-playstation-5/l-consolas-ps5.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">PS5</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Rentar</a>
              </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
              <img src="https://res.cloudinary.com/walmart-labs/image/upload/d_default.jpg/w_960,dpr_auto,f_auto,q_auto:best/gr/images/product-images/img_large/00088984265135L.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Xbox</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Rentar</a>
              </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
              <img src="https://res.cloudinary.com/walmart-labs/image/upload/w_960,dpr_auto,f_auto,q_auto:good/mg/gm/3pp/asr/6578c82b-bc0c-4825-ba47-3d95640c5da9.0f19ee695b3bd93707e5fd41f62ae684.jpeg?odnHeight=2000&odnWidth=2000&odnBg=ffffff" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Switch</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Rentar</a>
              </div>
            </div>
        </div>
      </div>
    </div>

    <div class="container">

      <h1></h1>

      <div class="jumbotron">
        <h1 class="display-4">Reglamento</h1>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
      </div>

    </div>

    <%- include ("layouts/footer") %>
